@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap');
@import '_flex.scss';
* {
  padding: 0px;
  margin: 0px;
}
//
.btn-dr {
  padding-left: 30px;
  padding-right: 30px;
  color: #fff;
  padding-top: 14px;
  padding-bottom: 14px;
  border: 1px solid #fff;
  cursor: pointer;
}
.btn-bl {
  background-color: #4452fe;
  padding-left: 30px;
  padding-right: 30px;

  padding-top: 14px;
  padding-bottom: 14px;
  border: 1px solid #000;
  cursor: pointer;
}
.flex {
  display: flex;
}
.sub-text {
  padding-top: 30px;
  text-align: center;
  color: #fff;
}
.secondary-text {
  color: #fff;
  text-align: center;
  font-weight: 300;
}
//

body{
  font-family: 'Roboto',serif;
}

header {
.emp{
  display: none;
}
  
  background-color: #000;
  color: #fff;

  .head-top {
    display: flex;
    justify-content: space-between;
    padding-left: 190px;
    padding-right: 190px;
    padding-top: 20px;
    img {
      object-fit: contain;
    }
    .links {
      padding-top: 30px;
      display: flex;
      justify-content: space-around;
      width: 40%;

      .link {
        list-style: none;

        a {
          text-decoration: none;
          color: #fff;
        }
      }
    }
    .btn-login {
      margin-top: 20px;
      margin-bottom: 20px;
      list-style: none;
    }
  }
  .showcase {
    .hero-text {
      text-align: center;
      padding-top: 100px;
      font-size: 50px;
    }
    p {
      padding-top: 20px;
      text-align: center;
    }
    .btn {
      padding-top: 30px;
      text-align: center;
      li {
        display: inline;
        list-style: none;
        margin: 20px;
      }
    }
    img {
      padding-top: 80px;
      object-fit: cover;
      object-position: 50% 50%;
      width: 100%;
      padding-bottom: 200px;
    }
  }
}
.features {
  background: #181818;
  padding-top: 30px;

  color: #fff;
  h1 {
    text-align: center;
    padding-bottom: 60px;
  }
  p {
    text-align: center;
  }
  .features-flex {
    display: flex;
    padding-top: 50px;
    margin-left: 90px;
    margin-right: 90px;

    // .feature-image {
    //   object-fit: cover;
    //   padding-left: 30px;
    //   padding-right: 30px;
    //   width: 100%;
    // }

    span {
      margin-top: 8em;
    }
    .feature {
      padding-bottom: 70px;

      .f-head {
        h3 {
          padding-top: 10px;
          padding-left: 20px;
        }
      }
      p {
        text-align: left;
      }
    }
  }
}
.contents {
  background-color: #181818;
  padding-top: 10em;

  .content {
    justify-content: space-between;
    .card {
      background-color: #fff;
      margin-top: 2em;
      
      padding-bottom: 40px;
      border-radius: 10px;
      .card-title {
          padding-top: 40px;
        text-align: center;
        color: #000;
        font-weight: 800px;
        font-size: 20px;
        margin-bottom: 40px;
      }
      .card-text {
        text-align: center;
        color: #5C5C5C;
      }
      img {
        width: 100%;
        object-fit: cover;
      }
      li{
          list-style-type: none;
          
          text-align: center;
          border: none;
          color: #fff;
      }
    }
    .work {
      margin-left: 16em;
      margin-right: 40px;
      flex-direction: column;
       padding-left: 20px;
      padding-right: 20px;
      
      li{
          margin-top: 50px;
          margin-left: 5em;
          margin-right: 5em;
      }
      
      .mac{
        padding-top: 40px;
      }
    }
    .design {
      margin-right: 16em;
      margin-left: 40px;
      flex-direction: column;
      padding-left: 2px;
      padding-right: 2px;
      
      li{
          margin-top: 40px;
           margin-left: 5em;
          margin-right: 5em;
      }

      .notif{

      }
    }
  }
}
.gallery{
     background-color: #181818;
     padding-top: 8em;

     .rows{
         .r1{
             display: grid;
             grid-template-columns: 1fr 1fr 1fr 1fr;
            margin-left: 8em;
            margin-right: 8em;
             img{
                 width: 100%;
             }
            
         }
          .r2{
                 display: grid;
                 grid-template-columns: 2fr 1fr 2fr;
                padding-left: 6em;
                padding-right: 6em;

                img{
                    width: 100%;
                }
                 .r2-img2{
                     margin-top: 20px;
                 }

             }
     }
     li{
         text-align: center;
         list-style: none;
         margin-left: 38em;
         margin-right: 38em;
     }
}
.partners{
  padding-top: 10em;
   background-color: #181818;

   .partner{
     margin-top: 40px;
     justify-content: space-between;
     margin-left: 20em;
     margin-right: 20em;

     img{
 
     }
     
   }
   li{
     margin-top: 40px;
       list-style: none;
       text-align: center;
       margin-left: 37.4em;
       margin-right: 37.4em;
       
     }
     padding-bottom: 80px;

}
.testimonials{
  padding-bottom: 80px;
     background-color: #181818;
     color: #fff;
      h1{
        padding-bottom: 50px;
      }
     .pc{
       display: flex;
      margin-left: 20em;
      margin-right: 20em;
       .f-l{

       }
       .f-r{

       }

       div{
         .card{
          padding-left: 40px;
          padding-right: 40px;
          padding-bottom: 10px;
          padding-top: 20px;
          margin: 20px;
          border: 1px solid #fff;
          border-radius: 10px;


          .card-head{
            img{
              padding-right: 20px;


            }
          }
          
         }
        .sm-text{
          margin-top: 20px;
          margin-bottom: 20px;
        }
       }
     }
}
.cta{
  background-color: #181818;
  padding-left: 10em;
  padding-right: 10em;
  padding-bottom: 60px;

  .cta-section{
    background-color: #343434;
    justify-content: space-between;
    border-radius: 20px;
    color: #fff;
    .f1{
      flex-direction: column;
      

      .cta-text{
        font-size: 40px;
        padding-left: 80px;
        padding-top: 60px;
      }

      li{
        margin-top: 20px;
        margin-bottom: 20px;
        list-style: none;
        text-align: center;
        margin-right: 140px;
        margin-left: 80px;
        border:none;
      }
    }
    .f2{
   width: 50%;
      background-image: url('/assets/images/media-content-pc.png');
      background-repeat: no-repeat;
      background-size: 400px;
      background-position-x: right;
      border-bottom-right-radius: 20px;
    }
    img{
     
    }
  }
}
footer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: #181818;
  color: #fff;
  padding-left: 10em;
  padding-right: 10em;

  .footer-title{
    margin-bottom: 20px;
  }
  .link{
    list-style: none;
    margin-bottom: 20px;
  }
  .r4>*{
    margin-bottom: 20px;
  }
  .r4{

    span{
      display: flex;

      p{
        padding-top: 10px;
      }
    }
  }
  span:nth-of-type(2){
    padding-left:6px;

    p{
      padding-left: 4px;
    }
  }
}
.mob {
  display: none;
}

//

@media only screen and (max-width: 600px){

  * {
  padding: 0px;
  margin: 0px;
}
  //
  
  //
  body{
    width: 100%;
    display: block;
    .no-display{
      display: none;
    }
    .mob{
      display: block;
    }
   
    .sub-text{
      margin-left: 40px;
      margin-right: 40px;
    }
    .btn-dr{
      color: #fff;
     
       background-color: #181818;
    }

    header{
      .emp{
        display: none;

        img{
          display: block;
          object-fit: contain;
          top: 30px;
          right: 10px;
         fill: #fff;
         cursor: pointer;
         position: absolute;
         z-index: 2;
        }
      }
       .emp1{
             display: flex;
          text-align: center;
          flex-direction: column;
          z-index: 1;
          position: absolute;
          padding-top: 80px;
          padding-bottom: 80px;
          background-color: rgba(24, 24, 24,0.75);
          
          color: #fff;
         
          width: 100%;
          font-size: 20px;

          
      .link {
        list-style: none;

        a {
          text-decoration: none;
          color: #fff;
        }
      }
        }
      .head-top{
        padding-left: 10px;
        padding-right: 10px;
        justify-content: space-around;
        
        .logo{
          object-fit: contain;
          width: 50%;
        }
        .btn-login{
          padding-left: 18px;
          padding-right: 18px;
          padding-bottom: 7px;
          padding-top: 7px;
        }
        .links{
       display: none;
        }
       
        
      }

      .showcase{
        .hero-text{
          font-weight: 300;
          font-size: 38px;
          padding-left: 40px;
          padding-right: 40px;
        }
        p{
          padding-top: 30px;
          padding-left: 40px;
          padding-right: 40px;
          font-weight: 300;
        }
        .btn{
          display: flex;
          flex-direction: column;

          li{
            margin-left: 80px;
            margin-right: 80px;
          }
        }
        img{
          padding-top: 20px;
          padding-bottom: 40px;
        }
      }
      
      }
      .features{
        padding-top: 100px;
        padding-right: 10px;
        padding-left: 10px;
        h1{
          padding-bottom: 10px;
        }
        p{

        }
        .features-flex{
          display: block;
          margin-left: 30px;
          margin-right: 30px;
       font-weight: 300;

          .features-image{
            object-fit: contain;
            width: 100%;
            padding: 0px;
            margin: 0px;
          }
          span{
           
            .feature{

               padding-left: 20px;
              .f-head{
                h3{

                }
              }
            }
          }
        }
    }

    .contents{
      .content{
        flex-direction: column; 
       justify-content: center;
        
        .card{
          margin-left: 60px;
          margin-right: 60px;
          .card-text{
            margin-top: 0px;
            font-size: 10px;
          }
          li{
           margin-left: 10px;
           margin-right: 10px;
           margin-top: 30px;
          }
        }

        .design{
          .btn-try{
            margin-left: 30px;
            margin-right: 30px;
          }
        }
      }
    }
    .gallery{
      li{
        margin-left: 80px;
        margin-right: 80px;
      }
     
      .rows{
        .r1{
          display: flex;
          flex-direction: column;
          margin-left: 30px;
          margin-right: 30px;

        }
        .r2{
          display: none;
        }
      }
    }
    .partners{
      li{
        margin-left: 80px;
        margin-right: 80px;
      }
      .partner{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-left: 60px;
        margin-right: 60px;
        grid-gap: 20px;

        img{
          width: 100%;
        }
        .partner-img1{
          padding-top: 10px;
        }
         .partner-img2{
          padding-top: 10px;
        }
        
         .partner-img4{
          padding-top: 14px;
        }
       
         .partner-img6{
          padding-top: 22px;
        }
      }
    }

    .testimonials{
      .pc{
        display: none;
      }

      .mob{
        .f{
          display: flex;
          flex-direction: column;

          margin-left: 50px;
          margin-right: 50px;

          .card{
            margin-top: 20px;
            margin-bottom: 20px;
            border: 1px solid #fff;
            border-radius: 10px;

            .card-head{
              padding-top: 20px;
              padding-bottom: 20px;
              padding-left: 10px;

              .name{
                padding-left: 10px;
              }
            }
            .sm-text{
              padding-left: 20px;
              padding-right: 20px;
              padding-bottom: 20px;
              font-size: 14px;
            }
          }
        }
      }
    }
    .cta{
      padding-left: 0px;
      padding-right: 0px;

      .cta-section{
        flex-direction: column;
        background-color: inherit;
        .f1{
          .cta-text{
            font-size: 30px;
            font-weight: 300;
            padding-left: 0px;
            padding-right: 0px;
            text-align: center;
          }
          .cta-button{
            margin-left: 60px;
            margin-right: 60px;
          }
        }
        .f3{
          img{
            width: 100%;
          }
        }

      }
    }
    footer{
      grid-template-columns: 1fr;
      padding-left: 50px;
    }

    .r4{
      span>img{
        object-fit: contain;
      }
    }

  }
}

//

// @media only screen and (min-width: 700px){
//   body{
//     display: none;
//   }
// }